.calendarTableWrapper {
  overflow-y: auto;
  overflow-x: hidden;

  background-color: var(--ld-ffffff-21222c);

  border: 1px solid var(--ld-rgba22022722905-rgba255255255015);
  border-radius: 8px;
}

.calendar {
  max-height: calc(100vh - 80px - 98px - 52px - 14px - 20px - 100px);

  @media (min-width: 768px) {
    max-height: calc(100vh - 242px - 42px);
  }

  @media (min-width: 1440px) {
    max-height: calc(100vh - 242px - 32px);
  }
}

.filter {
  max-height: calc(100vh - 80px - 216px - 52px - 14px - 20px - 100px);

  @media (min-width: 768px) {
    max-height: calc(100vh - 100px - 97px - 24px - 48px - 18px - 42px);
  }

  @media (min-width: 1440px) {
    max-height: calc(100vh - 116px - 48px - 24px - 48px - 24px - 20px);
  }
}

.calendarTableStyle {
  width: 100%;
  height: 100%;

  border-collapse: collapse;
  border-spacing: 0;
  border-style: hidden;
  border-radius: 50px;
}

.claendarTableBody {
  width: 100%;
}
