.wrapper {
   height: 100%;

   display: flex;
   flex-direction: row;
   gap: 10px;

   padding-bottom: 10px;

   overflow-y: hidden;
   overflow-x: auto;

   @media screen and (min-width: 768px) {
      gap: 16px;
   }

   @media screen and (min-width: 1440px) {
      gap: 27px;

      overflow: hidden;
   }

   &::-webkit-scrollbar {
      width: 360px;
      max-width: 360px;
      height: 14px;

      background-color: var(--ld-f2f2f2-21222c);

      border-radius: 12px;

      overflow: visible;
   }

   &::-webkit-scrollbar-thumb {
      background-color: var(--ld-e7e5e5-2d3037);

      border-radius: 12px;
   }

   &::-webkit-scrollbar-thumb:hover {
      box-shadow: 0px 4px 4px var(--ld-rgba000020-rgba000025);
   }
}
