.dayCalendarHeadList {
   background-color: var(--ld-ffffff-22232d);
   color: var(--ld-616161-rgba250250250030);

   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 14px 19px;
   margin-bottom: 14px;

   border: 1px solid var(--ld-rgba22022722905-rgba255255255015);
   border-radius: 8px;

   @media (min-width: 768px) {
      background-color: var(--ld-ffffff-21222c);

      padding: 10px 32px;
      margin-bottom: 16px;
   }

   @media (min-width: 1440px) {
      padding: 10px 47px;
   }
}

.dayCalendarHeadItem {
   list-style: none;

   display: flex;
   flex-direction: column;
   justify-content: center;
}

.daysOfWeek,
.daysWeekend,
.choosedDay,
.dayCalendarHeadBtn {
   background-color: var(--ld-ffffff-22232d);

   font-weight: 600;
   font-size: 16px;
   line-height: 1.125;
   text-transform: uppercase;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 6px;

   margin-bottom: 6px;

   @media (min-width: 768px) {
      font-size: 14px;

      gap: 4px;
   }
}

.daysWeekend {
   color: var(--accent);
}

.dayCalendarHeadNumber {
   font-weight: 600;
   line-height: 18px;

   @media (min-width: 768px) {
      font-size: 14px;
   }
}

.dayCalendarHeadBtn,
.choosedDay {
   color: var(--ld-343434-ffffff);

   font-weight: 700;
   font-size: 12px;
   line-height: 1.167;

   padding: 4px 8px;
   margin-bottom: 0;

   border: none;
   border-radius: 6px;

   cursor: pointer;

   @media (min-width: 768px) {
      font-size: 16px;
      line-height: 1.125;
   }

   @media (min-width: 1440px) {
      padding: 4px 8px;
   }
}

.dayCalendarHeadBtn:hover {
   background-color: var(--c-dcebf7);
   color: var(--c-343434);
}

.choosedDay {
   background-color: var(--accent);
   color: var(--white);
}
