.section {
  width: 225px;
  height: 100vh;

  background-color: var(--ld-ffffff-13151a);

  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    width: 289px;
  }

  @media screen and (min-width: 1440px) {
    display: block;
  }
}

.blur {
  position: absolute;
  left: 225px;

  width: calc(100vw - 225px);
  height: 100%;

  backdrop-filter: blur(1px);

  @media screen and (min-width: 768px) {
    left: 289px;

    width: calc(100vw - 289px);
  }

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 24px 20px 150px;

  @media screen and (min-width: 768px) {
    padding: 24px 32px;
  }
}

.closeBtn {
  background-color: transparent;

  border: none;

  outline: none;

  cursor: pointer;
}

.closeIcon {
  width: 24px;
  height: 24px;

  display: block;

  fill: transparent;
  stroke-width: 0.9599609375em;
  stroke: var(--ld-343434-ffffff);

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.logoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 33px;
  }
}

.title {
  color: var(--ld-7e7d82-rgba250250250030);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.214;

    margin-bottom: 32px;
  }
}

.btnBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;

  margin: auto 0 auto;
}

.btnReview,
.btnDelete {
  width: 131px;

  background-color: var(--ld-3e85f3-e3f3ff);
  color: var(--ld-ffffff-21222c);

  font-weight: 600;
  font-size: 14px;
  line-height: 1.286;
  letter-spacing: -0.02em;

  padding: 10px;

  border: none;
  border-radius: 16px;

  outline: none;

  box-shadow: 4px 2px 16px 0px var(--c-rgba136165191048);

  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 15px;
    line-height: 1.333;
    letter-spacing: -0.36px;
  }

  &:hover,
  &:focus {
    transform: scale(1.02);
  }
}

.btnDelete {
  color: var(--ld-ffffff-21222c);

  background-color: #ec7591;
}

.btnReview {
  background-color: var(--c-3cbc81);
  color: var(--ld-ffffff-21222c);
}
