.choosedMonthWrapper {
  &::-webkit-scrollbar {
    height: 14px;
    max-width: 360px;

    background-color: var(--ld-f2f2f2-21222c);

    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--ld-e7e5e5-2d3037);

    border-radius: 12px;
  }
}

.calendar {
  height: calc(100vh - 80px - 98px - 52px - 14px - 20px);

  @media (min-width: 768px) {
    height: calc(100vh - 250px - 42px);
  }

  @media (min-width: 1440px) {
    height: calc(100vh - 250px - 32px);
  }
}

.filter {
  height: calc(100vh - 80px - 216px - 52px - 14px - 20px - 100px);

  @media (min-width: 768px) {
    height: calc(100vh - 100px - 97px - 24px - 48px - 24px - 42px);
  }

  @media (min-width: 1440px) {
    max-height: calc(100vh - 116px - 48px - 24px - 48px - 24px - 20px);
  }
}
