.choosedMonthWrapper {
  height: calc(100vh - 80px - 98px - 52px - 14px - 52px);

  overflow-y: auto;
  overflow-x: hidden;

  @media (min-width: 768px) {
    height: calc(100vh - 250px - 42px);
  }

  @media (min-width: 1440px) {
    height: calc(100vh - 250px - 32px);
  }

  &::-webkit-scrollbar {
    height: 14px;
    max-width: 360px;

    background-color: var(--ld-f2f2f2-21222c);

    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--ld-e7e5e5-2d3037);

    border-radius: 12px;
  }
}
