.filterPageContainer {
  height: calc(100vh - 52px);

  background-color: var(--ld-f7f6f9-171820);

  padding: 0 20px 52px;

  @media (min-width: 768px) {
    height: calc(100vh - 42px);

    padding: 0 32px 42px;
  }

  @media (min-width: 1440px) {
    height: calc(100vh - 32px);

    padding: 0 32px 32px;
  }
}
